* {
  font-family: "Pretendard Variable";
}

:root {
  --bg-color-dark: oklch(0.1732 0.0295 273.73);
  --btn-primary: oklch(0.5807 0.183 271.11);
  --btn-primary-hover: oklch(0.6529 0.183 271.11);
}

.progressbar {
    
}

.button {
}

@media (prefers-color-scheme: dark) {
  .background {
    background-color: var(--bg-color-dark);
  }
}
.background {
  background-color: var(--bg-color-dark);
}

.titlebar {
  font-size: 1.25rem;
}

.settings {
}
